
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {

}

body {
    margin: 0;
    font-family: 'Courier Prime', monospace;
    background-color:#615E5A ;
}

header {

}

nav {

}

main {

}

footer {

}