
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 5rem auto;
    background-color:#615E5A ;
    width: 70.5rem;
    height: 3rem;
    line-height: 1.5;
    color:#E6E6E6;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section {
    margin: 8.25rem auto;
    display: grid;
    grid-template-columns: repeat (12,1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow:dense;
}


.backgroundimage { 
    background-image: ;
}

header {
    h1 {
        margin-top:6rem;
        margin-bottom:3rem;
        color:#000;
        font-family: 'Courier Prime';
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;    
        text-decoration: none;
    }
}

a {
    text-decoration: none;
    color:#000;
}

h1:hover, .selected {
    color: #B0C5C7;
}

nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom:auto;
}

main {
    color: var(--primary-light-gray, #E6E6E6);
    font-family: Courier Prime;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    width: 15.43788rem;
    height: 4rem;
    display: flex;
    align-items: right;
    margin:auto;
}


h2 {
    color: var(--primary-light-gray, #E6E6E6);
    font-family: Courier Prime;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color:#E6E6E6;
    font-family: 'Courier Prime';
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}


.date {
    color:#B0C5C7;
    font-family: 'Courier Prime';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    color: #B0C5C7;
    font-family: 'Courier Prime';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.starbody {
    background-image: url(img/starbackground_gcookston.png);
}

.logo {
    display: flex;
    margin: auto;
    width:30%
}

#home_logo {
    display: flex;
    margin: auto;
}

.page_title {
    text-align:center;
    grid-column: 1/12;
}

.image_left {
    grid-column: 1/8;
}

.description_right {
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 8/110;
}
.description_left{
    margin: auto;
    grid-column: 1/6;
    text-align: right;   
}

.image_right {
    grid-column: 8/12;
}

#self_image {   
    grid-column: 1/8;
    margin-top:6rem;
}

#about_me {
    grid-column: 8/12;
    font-size: 1.8rem;
}

input, textarea {
    width: 100%;
    background-color:#615E5A;
    border: 2px solid #B0C5C7;
    font-size: 1.5rem;
    width:100%;
    padding: .5rem 1rem .5rem 1rem;
    margin-bottom: 1rem;
}

textarea {
    height:14rem;
}

#submit {
   background-color:#D1AB7A;
   border: 3px solid #B0C5C7;
   font-size:2rem;
   font-family:'Courier New', Courier, monospace;
   padding: .5rem 1rem .5rem 1rem;
}

#reset {
background-color:#D1AB7A;
   border: 3px solid #B0C5C7;
   font-size:1.3rem;
   font-family:'Courier New', Courier, monospace;
   padding: .5rem 1rem .5rem 1rem;
}

input:focus, textarea:focus {
    border: 2px solid #D1AB7A;
}

#contact_me {
    text-align:center;
    grid-column: 1/12;
    font-size: 2rem;
}

.container {
    grid-column: 7/12;
    position: relative;
}


.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    grid-column: 8/12;
}
  
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #D1AB7A;
    color: black;
    font-size: 16px;
    padding: 16px 32px;––
}

#email {
    color:#D1AB7A;
}

#home_art {
    display: flex;
    margin: auto;
    width:100%
}

